#drawer {
	z-index: 1;
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: $white;
	// height: 600px;
}

.drawer-body.closed {
	overflow: hidden;
	position: absolute;
	bottom: 0;
	.list-panel {
		height: 0px;
		visibility: hidden;
	}	
} 

.drawer-body.open {
	// max-height: 600px;
	overflow: hidden;
	position: relative;
	.list-panel {
		height: 81vh;
		overflow-y: scroll;
		transition: height .4s;
		.list-week-wrapper {
			margin-top: 8.5em;
			.list-weekly-day{
				width: 75%;
				display: block;
				margin: 0 auto;
				border-bottom: 2px solid $dark-gray;
				h3 {
					font-size: 1.7em;
					font-family: $font-family-list-day;
				}
				.list-show-view {
					list-style: none;
					margin-bottom: .3em;
					padding: 10px 0;
					// display: flex;
					// position: relative;
					// text-align: center;
					h4 {
						font-family: $font-family-gen;
						font-weight: normal;
						font-size: 1.2em;
						margin-bottom: .2em;
						margin-top: 0;
						display: inline-block;
						width: 50%;
						vertical-align: middle;
						cursor: pointer;
						color: $red;
						text-decoration: underline;
					}
					h4:hover {
						text-decoration: none;
					}
				}
			}
			.list-bumper {
				height: 8em;
				width: 100%;
			}	
		}
		// .list-weekly-day:nth-child(2) {
		// 	margin-top: 8.5em !important;
		// }
		// .list-weekly-day{
		// 	width: 75%;
		// 	display: block;
		// 	margin: 0 auto;
		// 	border-bottom: 2px solid $dark-gray;
		// 	h3 {
		// 		font-size: 1.7em;
		// 		font-family: $font-family-list-day;
		// 	}
		// 	.list-show-view {
		// 		list-style: none;
		// 		margin-bottom: .3em;
		// 		padding: 10px 0;
		// 		// display: flex;
		// 		// position: relative;
		// 		// text-align: center;
		// 		h4 {
		// 			font-family: $font-family-gen;
		// 			font-weight: normal;
		// 			font-size: 1.2em;
		// 			margin-bottom: .2em;
		// 			margin-top: 0;
		// 			display: inline-block;
		// 			width: 50%;
		// 			vertical-align: middle;
		// 		}
		// 	}
		// }	
	.no-results-found {
		width: 75%;
		display: block;
		margin: 0 auto;
		margin-top: 4.5em;
		font-family: $font-family-h1;
		color: $dark-gray;
		font-size: 3em;
		text-align: center;
	}	
	#week-view {
		position: static;
		.weekday-wrapper {
			margin-top: 7em;
			background-color: $white;
			.arrow-button-wrapper {
				display: none;
			}
			.weekly-day {
				width: 75%;
				display: block;
				position: static;
				margin: 0 auto;
				border-bottom: 2px solid $dark-gray;
				background-color: $white;
				overflow: auto;
				.mobile-current-displaying {
					height: 3em !important;
				}
				h2 {
					font-size: 1.7em;
					font-family: $font-family-list-day;
					color: $black;
				}
				.show-info {
					font-family: $font-family-gen;
				}
		}
	}
	}
	.list-weekly-day:last-of-type {
		border-bottom: none;
	}	
	
}
}

@include respond-to(small) {
	.drawer-body.open {
		.list-panel {
			.list-week-wrapper {
				width: 100%;
				.list-weekly-day {
					width: 83%;
				}
				.list-show-view {
					h4 {
						font-size: .9em !important;
					}
				}
				#week-view {
					.weekday-wrapper {
						margin-top: -7em;
						.weekly-day {
							h2 {
								margin-left: 0;
							}
							.show-info {
								margin-left: 0;
							}
						}
					}
				}
			}
		}
	}
}

