.weekly-day {
	display: none;
}
.weekly-day.mobile-current-displaying {
	display: inline-block;
	background-color: $light-gray;
	width: 80%;
	height: 100%;
	padding-left: .5em;
	// margin: 0 .5em;
	h2 {
		font-size: 2em;
		color: $blue;
	}
	.show-info {
		// padding-left: 1.5em;
		font-family: $font-family-showname;
		border-top: 2px solid $dark-gray;
		// line-height: .5em;
		margin: 0 2em;
		.show-title {
			line-height: .75em;
		}
		.show-time {
			letter-spacing: -0.8px;	
		}
	}
	.show-info:first-of-type {
		border-top: none; 
	}
}