#week-view {
	position: relative;
}

.weekday-wrapper {
	position: relative;
	margin: 0 auto;
	display: block;
	width: 90%;
	box-sizing: border-box;
	border: 10px solid transparent;
	.nav-hint {
		height: 1px;
		margin: 0 auto;
		h5 {
			font-family: $font-family-para;
			color: $dark-gray;
			font-weight: normal;
			margin: 0;
			margin-top: 0.85em;
			text-align: center;
		}
	}
	.nav-hint.icon-r {
		color: $dark-gray;
		font-size: 1.5em;
	}
	.nav-hint.icon-l {
		color: $dark-gray;
		font-size: 1.5em;
		visibility: hidden;
	}
}

.weekly-day {
	position: relative;
}

.weekly-day{
	display: block;
	background-color: $light-gray;
	overflow-y: scroll; 
	min-height: 75vh;
	max-height: 80vh;
	h2 {
		font-size: 1.75em;
		color: $blue;
		margin-left: 1em;
		padding-top: .3em;
	}
	.show-info {
		font-family: $font-family-showname;
		border-top: 2px solid $dark-gray;
		margin: 0 2em;
		cursor: pointer;
		.show-title {
			line-height: 1.2em;
			margin-bottom: .2em;
		}
		.show-time {
			font-size: .85em;
			margin-left: .4em;
			margin-top: 0;
			margin-bottom: .2em;
			letter-spacing: -0.8px;	
			color: $blue;
		}
	}
	.show-info:first-of-type {
		border-top: none; 
	}
	.show-info:last-of-type {
		padding-bottom: 75px;
	}
	.no-shows {
		margin: 0 auto;
		box-sizing: border-box;
		padding: 0 1.5em;
		h3 {
			font-size: 2em;
			font-family: $font-family-psem;
			color: $dark-gray;
			text-align: center;
			margin-bottom: 0.5em;
			line-height: 1.2em;
		}
	}
}

@include respond-to(large) {
	.weekday-wrapper {
		width: 100%;
		margin: 0 .2em;
		.nav-hint {
			h5 {
				visibility: hidden;
			}
		}
		.weekly-day {
			float: left;
			width: 14%;
			min-height: 85vh;
			margin: 0 .12em;
			h2 {
				font-size: 1.25em;
			}
			.no-shows {
				h3 {
					font-size: 1.3em;
				}
			}
			.show-info {
				.show-title:hover {
					opacity: 0.5;
				}
			}
		}
	}
}