#week-view {
	position: relative;
}

.weekday-wrapper {
	position: relative;
	margin: 0 auto;
	display: block;
	width: 90%;
	box-sizing: border-box;
	border: 10px solid transparent;
	.nav-hint {
		position: absolute;
		top: -8px;
		right: 26px;
		z-index: 1;
		h5 {
			font-family: $font-family-para;
			color: $dark-gray;
			font-weight: normal;
		}
	}
	.nav-hint.icon {
		position: absolute;
		right: -17px;
		top: 16px;
		// z-index: 1;
		color: $dark-gray;
		font-size: 1.5em;
	}
}

.weekly-day {
	position: relative;
	// height: 75vh;
}

.weekly-day{
	display: block;
	background-color: $light-gray;
	// width: 95%;
	overflow-y: scroll; 
	min-height: 75vh;
	max-height: 80vh;
	// margin: 0 auto;
	// padding-left: .5em;
	// margin: 0 .5em;
	h2 {
		font-size: 1.75em;
		color: $blue;
		margin-left: 1em;
		padding-top: .3em;
	}
	.show-info {
		// padding-left: 1.5em;
		font-family: $font-family-showname;
		border-top: 2px solid $dark-gray;
		// line-height: .5em;
		margin: 0 2em;
		.show-title {
			line-height: .75em;
		}
		.show-time {
			letter-spacing: -0.8px;	
		}
	}
	.show-info:first-of-type {
		border-top: none; 
	}
	.no-shows {
		margin: 0 auto;
		box-sizing: border-box;
		padding: 0 1.5em;
		h3 {
			font-size: 2em;
			font-family: $font-family-psem;
			color: $dark-gray;
			text-align: center;
			margin-bottom: 0.5em;
			line-height: 1.2em;
		}
	}
}