button {
	outline: none;
}

button:hover {
	cursor: pointer;
}

.submit {
	font-family: $font-family-button;
	font-size: 1.5em;
	color: $white;
	background-color: $blue;
	border: none;
	padding: .5em .75em;
	margin: 0 auto;
	display: block;
	transition: 0.6s;
}

.list-panel-toggle {
	width: 100%;
	margin: 0;
	background-color: $blue;
	height: 7vh;
	.list-up {
		font-size: 3em;
		color: $white;
		margin: 0 auto;
		display: block;
		padding: 0 48.5%;
	}
	h5 {
		font-family: $font-family-gen;
		color: $white;
		font-size: 1em;
		text-align: center;
		margin-top: 0;
	}
}

.list-panel-toggle:hover {
	cursor: pointer;
}

.list-toggle-buttons {
	display: block;
	overflow: auto;
	position: fixed;
	z-index: 1;
	background-color: $white;
	box-shadow: 0px 1px 12px #888888;
	padding: .2em 0;
	.tracking-toggle,
	.airing-toggle {
		font-family: $font-family-h2;
		font-size: 1em;
		background-color: $white;
		color: $dark-gray;
		border: none;
		padding: 0 1em .2em 1em;
		float: right;  
	}
	.airing-toggle {
		margin-right: .2em;
	}
	.active-toggle {
		border-bottom: 4px solid $red;
		color: $black;
		margin-bottom: .75em;
	}
}

.follow-toggle {
	display: inline-block;
	border: none;
	font-family: $font-family-button;
	color: $white;
	background-color: $red;
	font-size: 1.2em;
	padding: .3em 1.4em ;
	text-transform: uppercase;
	margin-left: 1.5em;
	cursor: pointer;
	border-radius: 2px;
}

@include respond-to(small) {
	.follow-toggle,
	.follow-toggle.unfollow {
	    margin-left: 1em;
	   	font-size: 1em;
	}
	.follow-toggle {
		padding: 0.5em 1.3em;
	}
	.follow-toggle.unfollow {
		padding: 0.5em .45em;
	}
}

.follow-toggle.unfollow {
	color: $red;
	background-color: $white;
	border: 2px solid $red;
	padding: .3em .5em;
}

.settings-button {
	font-family: $font-family-button;
	font-size: 1em;
	color: $white;
	background-color: $blue;
	border: none;
	padding: .5em .75em;
	display: inline-block;
	transition: 0.6s;
}
.settings-button:last-of-type {
	margin-bottom: 1.2em;
}
.settings-button:hover {
	opacity: 0.5;
}

.notif-wrapper {
	.settings-button {
		margin-top: .5em;
	}
}

.close-show {
	position: fixed;
	right: 28px;
	top: 27px;
	color: $white;
	font-size: 2em;
	border: none;
	background-color: $blue;
	z-index: 10;
}

.showpane{
	.follow-toggle {
		margin-left: 0;
	}
}

.modal-search,
.find-shows {
	background-color: $red;
	margin: 0 auto;
	display: block;
	font-family: $font-family-button;
	color: $white;
	padding: 1em;
	font-size: 1.3em;
	border: none;
}

.find-shows {
	padding: .5em;
}

.close-modal {
	border: none;
	position: absolute;
	top: -1px;
	right: 0;
	color: $white;
	font-size: 2em;
	background-color: transparent;
}

.close-modal.log {
	color: $blue;
}

@include respond-to(small) {
	.list-toggle-buttons {
		width: 100%;
	}
	.follow-toggle,
	.follow-toggle.unfollow {
	    margin-left: 1em;
	   	font-size: 1em;
	}
	.follow-toggle {
		padding: 0.5em 1.3em;
	}
	.follow-toggle.unfollow {
		padding: 0.5em .45em;
	}
	.showpane{
		.follow-toggle{
			margin-left: 0;
			font-size: 1em;
			padding: .3em .8em;
		}
		.follow-toggle.unfollow {
			margin-left: 0;
			font-size: .9em;
			padding: .3em .4em;
		}
	}
	.popup .popup-close {
		font-size: 1.25em;
		display: block;
		width: 40px;
		height: 40px;
		padding: 0;
	}
	.close-show {
		top: 12%;
		right: 48px;
	}
}
@include respond-to(large) {
	.submit:hover {
		opacity: 0.5;
	}
	.list-toggle-buttons {
		width: 87.5%;
		.airing-toggle,
		.tracking-toggle {
			padding-top: 1em;
			display: inline-block;
			font-size: 1.2em;
		}
		.tracking-toggle {
			margin-right: 12em;
		}
	}
	.list-panel-toggle {
		width: 50%;
	}
	.follow-toggle {
		font-size: 1.25em;
		padding: 0.5em 2.3em;
		margin-left: 15em;
		transition: 0.4s;
	}
	.follow-toggle.unfollow {
		margin-left: 15em;
		font-size: 1.25em;
		padding: 0.5em 1.45em;
		transition: 0.4s;
	}
	.follow-toggle:hover {
		opacity: 0.5;
	}
	.find-shows {
		font-size: 1em;
		padding: .25em .3em;
	}
	.close-show {
		right: 448px;
		top: 12%;
	}
}	