button {
	outline: none;
}

button:hover {
	cursor: pointer;
}

.account-tab {
	font-family: $font-family-h2;
	font-size: 1.75em;
	background-color: $white;
	color: $blue;
	border: none;
	padding: 1em 1em .2em 1em;
	border-bottom: 6px solid $blue;
}

.account-tab.active {
	border-bottom: 8px solid $blue;
}

.submit {
	font-family: $font-family-button;
	font-size: 1.5em;
	color: $white;
	background-color: $blue;
	border: none;
	padding: .5em .75em;
	margin: 0 auto;
	display: block;
}

.arrow-button-wrapper {
	position: absolute;
	right: 0;
	top: 0;
	width: 20%;
	.forward-button,
	.back-button {
		border: none;
		color: $blue;
		font-size: 3em;
		background-color: $white;
		padding: .2em .5em;
		position: absolute;
		right: 0;
	}
	.forward-button {
		top: 0;
	}
	.back-button {
		right: 72px;
	}
	.no-back,
	.no-fwd {
		background-color: $white !important;
		color: $light-gray !important;
	}
}

.list-panel-toggle {
	width: 100%;
	margin: 0;
	overflow: auto;
	background-color: $blue;
	// position: absolute;
	// bottom: 0;
	.list-up {
		font-size: 3em;
		color: $white;
		margin: 0 auto;
		display: block;
		padding: 0 48.5%;
	}
	h5 {
		font-family: $font-family-gen;
		color: $white;
		font-size: 1em;
		text-align: center;
		// padding: 0 50%;
		margin-top: 0;
	}
}

.list-toggle-buttons {
	display: block;
	width: 100%;
	overflow: auto;
	position: fixed;
	z-index: 1;
	background-color: $white;
	// height: 10%;
	box-shadow: 0px 1px 12px #888888;
	padding: .2em 0;
	.tracking-toggle,
	.airing-toggle {
		font-family: $font-family-h2;
		font-size: 1em;
		background-color: $white;
		color: $dark-gray;
		border: none;
		padding: 0 1em .2em 1em;
		float: right;  
	}
	.airing-toggle {
		margin-right: .2em;
	}
	.active-toggle {
		border-bottom: 4px solid $blue;
		color: $black;
	}
}

.follow-toggle {
	display: inline-block;
	border: none;
	font-family: $font-family-button;
	color: $white;
	background-color: $red;
	font-size: 1.2em;
	padding: .3em 1.4em ;
	text-transform: uppercase;
	margin-left: 1.5em;
	cursor: pointer;
	border-radius: 2px;
}

.follow-toggle.unfollow {
	color: $red;
	background-color: $white;
	border: 2px solid $red;
	padding: .3em .5em;
}

.settings-button {
	font-family: $font-family-button;
	font-size: 1em;
	color: $white;
	background-color: $blue;
	border: none;
	padding: .5em .75em;
	display: block;
	margin-bottom: 1.2em;
	margin-left: 1em;
}

.notif-wrapper {
	.settings-button {
		margin-top: .5em;
	}
}