// .text-input.red-border {
//     border: 5px solid $red;
//     margin-bottom: 0;
//     border-radius: 0;
// }

.text-input,
input[type="text"] {
	border: 3px solid $blue;
	border-radius: 2px;
	padding: .75em;
	display: block;
	margin-bottom: 1.2em;
	font-family: $font-family-h3;
	font-size: 1.2em;
}

.modal-wrapper {
    .text-input {
        margin: 0 auto;
        margin-bottom: 1.2em;
    }
    .new-email-wrapper,
    .new-pw-wrapper {
        margin: 0 auto;
        width: 70%;
        display: block;
        .text-input {
            width: 100%;
            border-radius: 0;
            box-sizing: border-box;
            // margin-bottom: 0;
        }
        .text-input.red-border {
            border: 5px solid $red;
            margin-bottom: 0;
            border-radius: 0;
        }        
    }
    .new-pw-wrapper {
        margin-bottom: .5em;
    }
   
}

.radio-wrapper {
    display: block;
    margin-left: 1em;
    label{
        font-family: $font-family-gen;
        font-size: 1.2em;
        color: $black;
        margin-bottom: .2em;
    }
    input[type="radio"].custom-radio{
        border: 0;
        clip: rect(0 0 0 0);
        height: 10px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 10px;
    }
    input[type="radio"].custom-radio ~ label:before {
        font-family: FontAwesome;
        display: inline-block;
        content: "\f1db";
        color: $blue;
        font-size: 1.4em;
        letter-spacing: 10px;
    }
    input[type="radio"].custom-radio:checked ~ label:before {
        content: "\f05d";
        font-size: 1.4em;
    }
}


// input[type="radio"] + label {
//     float: right;
// }

.settings-wrapper input[type="text"] {
    width: 75%;
    padding: .5em;
    font-size: 1em;
    font-family: $font-family-pmed;
}

.user-info-wrapper,
.notif-wrapper input[type="text"] {
    margin-left: 1em;
}

.search-wrapper {
    width: 82%;
    // margin-left: 13%;
    margin: 0 auto;
    position: relative; 
    clear: both;
    box-sizing: border-box;
    border-right: 36px solid transparent;
    input[type="text"].search {
        margin-top: .7em;
        margin-bottom: .4em;
        width: 100%;
        border: 3px solid $light-gray;
        border-radius: 0px;
        // border-bottom: 2px solid $blue !important;
        padding: .5em;
        padding-left: 2em;
        // padding-right: 0;
        // outline: none;
        background-color: $white;
    }
    i {
        color: $dark-gray;
        position: absolute;
        top: 16px;
        left: 10px;
        font-size: 1.5em;
    }
    i:hover {
        cursor: pointer;
    }
}
