.text-input,
input[type="text"] {
	border: 3px solid $blue;
	border-radius: 2px;
	padding: .75em;
	display: block;
	margin-bottom: 1.2em;
	font-family: $font-family-h3;
	font-size: 1.2em;
}

.search {
	margin-left: 13%;
    margin-top: .4em;
    margin-bottom: .3em !important;
    width: 50%;
    border: none !important;
    border-radius: 0px !important;
    border-bottom: 2px solid $blue !important;
    padding: .5em !important;
    padding-left: 2em !important;
    outline: none;
    // font-family: "FontAwesome" !important;
}