.error-msg {
	display: block;
	font-family: $font-family-psem;
	color: $white;
	background-color: $red;
	margin: 0 auto;
	width: 100%;
	margin-bottom: 1.2em;
	box-sizing: border-box;
	padding: .5em;
}
.update-success {
	display: inline-block;
	font-family: $font-family-psem;
	color: $blue;
	border: 3px solid $blue;
	background-color: $white;
	padding: .38em;
	// margin-left: 1em;
	// width: 82.7%;
}