nav > ul {
	padding: 0;
	li {
		list-style: none;
	}
	.logo {
		background-image: url("assets/logo.svg");
		height: 3em;
		width: 10em;
		background-repeat: no-repeat;
		display: inline-block;
	}
	.settings {
		color: $dark-gray;
	}
	.user-status {
		font-family: $font-family-nav;
		font-size: 1.6em;
		line-height: 2em;
		float: right;
		a {
			text-decoration: none;
			color: $black;
		}
	}
}