// Partials
@import "public/assets/font-awesome-4.7.0/scss/font-awesome";
@import "elements/breakpoints";
@import "elements/typography";
@import "elements/palette";
@import "elements/general";
@import "elements/nav";
@import "elements/buttons";
@import "elements/inputs";
@import "elements/modals";

// Page-Specific
@import "pages/landing";
@import "pages/weekdayblocks";
@import "pages/listpanel";
@import "pages/settings";
@import "pages/showpane";
// @import "pages/modal-landing";

body {
	min-width: 340px;
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}