// Partials
@import "public/assets/font-awesome-4.7.0/scss/font-awesome";
@import "elements/breakpoints";
@import "elements/typography";
@import "elements/palette";
@import "elements/general";
@import "elements/nav";
@import "elements/buttons";
@import "elements/inputs";
@import "elements/modals";
@import "elements/errormsgs";

// Page-Specific
@import "pages/landing";
@import "pages/weekdayblocks";
@import "pages/listpanel";
@import "pages/settings";
@import "pages/showpane";
// @import "pages/modal-landing";

body {
	min-width: 320px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

@media (max-width: 1024px) {
  .swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
  }
  .swipe-wrap {
    overflow: hidden;
    position: relative;
  }
  .swipe-wrap > div {
    float:left;
    width:100%;
    position: relative;
  }
  
}


.list-panel {
   -webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transform: translateZ(0);
}

@include respond-to(large) {
  #app {
    max-width: 1400px;
    margin: 0 auto;
  }

  .weekly-day {
    left: 0;
  }
}